h2{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}

#kontakt .sectionwrapper {
    background-color: #412828;

    margin: 3em;
    border padding
}

;


#blandet
